:root {
  --blue: #2196f3;
  --black: #212121;
  --gray: #757575;
  --white: #ffffff;
  --dark-gray: #2f303a;
  --whitesmoke: #f5f4fa;
  --whitegray: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "normal", sans-serif;
}
   
body {
  font-family: Roboto;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

​.header {
  background: var(--white);
  border-bottom: 1px solid #ECECEC;
}

.link-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.link-logo span {
  color: var(--black);
}

.list-menu {
  color: var(--black);
}
.list-menu {
  margin-left: 93px;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.menu-item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;
}

.link-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-studio:hover,
.link-studio:focus {
  color: var(--blue);
}

.link-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--blue);
}

​.link-portfolio .link:hover,
.link-portfolio .link:focus {
  color: var(--blue);
}
.link-contacts {
  display: flex;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--blue);
}
.active {
  color: #2196f3;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.effective-solutions {
  max-width: 696px;
  margin: auto;

}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--blue);
}
.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--blue);
}
.hero {
  padding-top: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: var(--dark-gray);
  padding-bottom: 200px;
}
.title-text {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  background: var(--blue);
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.button:hover,
.button:focus {
  color: var(--white);
  background: var(--blue);
}
.section-about {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.about {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
  
}
.description-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.description {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray);
}
.about-us {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
  margin-bottom: 50px;
}

​.section-team {
  background: var(--whitesmoke);
}
.our-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
  margin-bottom: 50px;
}
.team-name {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
  margin-bottom: 10px;
}
.team-name-prof {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.position {
 padding-right: 10px;
 padding-left: 10px;
 box-sizing: border-box;
 border-left: 1px solid var(--card-border-color);
 border-bottom: 1px solid var(--card-border-color);
 border-right: 1px solid var(--card-border-color);
 padding-bottom: 30px;
 padding-top: 30px;
}
.content-box-names list {
 display: flex;
 flex-wrap: wrap;
 margin-left: -30px;
 margin-top: -30px;
}
.photo-card {
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 flex-basis: calc((100% - 120px) / 4);
 margin-left: 30px;
 margin-top: 30px;
 border-radius: 0px 0px 4px 4px;
}
  
.content-box-names list:not(:last-child) {
 margin-left: 30px;
}
  
.photo-card {
 border-radius: 0px 0px 4px 4px;
}
.position {
 padding-right: 10px;
 padding-left: 10px;
 box-sizing: border-box;
 border-left: 1px solid var(--card-border-color);
 border-bottom: 1px solid var(--card-border-color);
 border-right: 1px solid var(--card-border-color);
 padding-bottom: 30px;
 padding-top: 30px;
}
.work {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
justify-content: space-between;
align-items: center;
}
  
.names {
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
}
    
.section-team {
padding-top: 94px;
padding-bottom: 94px;
background-color: #f5f4fa;
}
.page-footer {
  background: var(--dark-gray);  
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-first {
  color: var(--blue);
}

.footer-logo-second {
  color: #ffffff;
}
.adress-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--white);
}

.adress-footer:hover {
  color: var(--blue);
}

.our-contacts {
  margin-top: 9px;
}

.mail-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--whitegray);
}

.mail-footer:hover {
  color: var(--blue);
}
.tel-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--whitegray);
}
.tel-footer:hover {
  color: var(--blue);
}
.button {
  border-radius: 4px;
  border-color: rgba(0, 0, 0 ,0);
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-p list:not(:first-child) {
  margin-left: 8px;
}

.portfolio-button{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  
}
.portfolio-name {
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.button-portf {
  background: var(--whitesmoke);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--black);

  padding: 6px 22px;
  margin-left: 8px;
  margin-right: 8px;
}

.button-portf:hover,
.button-portf:focus {
  color: var(--white);
  background: var(--blue);
}
.portfolio-pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:-30px 0 0 -30px;
}
.items-list{
margin-top: 30px;
margin-left: 30px;
flex-basis: calc((100% - 90px) / 3);
}

.card-container-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  border-left: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
}
​.port-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
}

.project-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

​ .address-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}
